*{
    font-family: 'Yaldevi', sans-serif;
}
html, body{
    background-color: rgb(16, 20, 23) !important;
}
h1, h2, h3, h4, h5, h6{
    color: rgb(247, 142, 102) !important;
}
html, body{
    color: rgb(167, 158, 139) !important;
}
span{
    font-size: small;
}
ul{
    overflow:hidden;
}
li{
    display:inline-block;
}
.content{
    justify-content: center;
}